<main class="main">

  <playground [intervalTime]="intervalTime" (endGame$)="gameActive=false"></playground>

  <div>
    <form class="example-form">
      <mat-form-field>
        <mat-label>Interval</mat-label>
        <input matInput
               [(ngModel)]="intervalTime"
               name="intervalTime"
               [disabled]="gameActive"
               [type]="'number'"
               min="100"
               placeholder="from 100mss">
      </mat-form-field>
    </form>

    <div class="buttons">
      <button mat-raised-button (click)="startClick()" [disabled]="gameActive || intervalTime < 100">start</button>
      <button mat-raised-button (click)="pauseClick()" [disabled]="!gameActive">pause</button>
      <button mat-raised-button (click)="stopClick()" [disabled]="!gameActive">reset</button>
    </div>
  </div>

</main>

<router-outlet />
